{% extends "base.html" %}

{% block title %} Create new Class {% endblock %}

{% block content %}
    <a href="{% url "webapp:courses_list" %}">Return to the main page..</a>
    <hr>
    <h1>Create new Class</h1>
    <div class='column-center'>
        <form action="{% url "webapp:class_create" course_pk %}" method="POST" enctype="multipart/form-data">
            {% include "partial/create_form.html" with button_text="Create new class" %}
        </form>
    </div>
    <hr>
    <a href="{% url "webapp:courses_list" %}">Return to the main page..</a>
{% endblock %}